    <footer class="footer-distributed">
        <ins class="kakao_ad_area" style="display:none;" 
         data-ad-unit    = "DAN-wPgwiXY1fjm1fCFJ" 
         data-ad-width   = "728" 
         data-ad-height  = "90"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
      <div class="container">
        <div class="footer">
          <p>{{ site.author }} &copy; {{ site.copyright }}</p>
          {% include social.html %}
        </div>
      </div>
    </footer>
