{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <div class="article">

                <div class="card">
                  <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                  <div style="float: right;">
                    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank">
                      <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" />
                    </a>
                  </div> 
                  <div class="post-meta">
                    <div class="post-time">
                      <i class="fa fa-calendar-alt"></i>
                      <time>{{ page.date | date_to_string }}</time>
                    </div>
                    <ul>
                      {% for tag in page.tags %}
                        <li><a href="{{ '/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  
                  <div class="post-content">
                    {% if page.toc %}
                      {% include toc.html html=content class='toc' %}
                    {% endif %}
                    {% include mathjax_support.html %}
                    {{ content }}
                    {% include share.html %}
                  </div>
                  {% if page.comments %}
                  <div id="disqus_thread">
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                  </div>
                  {% endif %}
                </div>
                
              </div>
            </div>
            <div class="col-md-3 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
        {% include disqus-comments.html %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
<div id="disqus_thread"></div>
<script>


/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
/*
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://msc9533.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
*/                  
